.c-content
  margin-bottom: 2rem
  padding-bottom: 2rem
  background: white
  border-radius: .2rem
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12)

  & h1
    padding: 2rem 1.6rem 2rem 1.6rem
    border-bottom: none
    color: #ffffff
    background-image: linear-gradient(90deg,#00c3b5,#1fdea6)
    font-weight: 500
    border-radius: 3px 3px 0 0

  & h2
    margin-top: 5rem
    margin-left: 1.6rem
    margin-right: 1.6rem
    padding-bottom: .5rem
    border-bottom: .2rem solid #e6e6e6

  & h3
    padding-left: 1.6rem
    padding-right: 1.6rem

  & h4,
  & h5,
  & ul,
  & p,
  & pre
    margin-left: 1.6rem
    margin-right: 1.6rem
    margin-bottom: 2rem
