.c-search
  position: relative
  height: 100%
  border-left: 1px solid #dedede
  padding-left: 0

  &__wrapper,
  & .as-simpleSearch
    position: relative
    height: inherit
    width: 100%

  &__searchIcon
    z-index: 9
    top: 50%
    transform: translateY(-50%)
    position: absolute
    left: 1.2rem
    +text-gradient(#07d2c6, #2bffbf)

  &__searchInput
    width: 100%
    height: inherit
    border: none
    border-radius: 0
    padding-left: 3rem
    &:focus
      outline: none!important
      box-shadow: 0 0 0 transparent
      border-left-color: #dedede

  &__clearSearch
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    color: #09d2c6
    font-size: 1rem

  &__result
    position: fixed
    overflow-y: scroll
    width: 100%
    left: 0
    right: 0
    top: 0
    bottom: 0
    box-shadow: 0 -2px 9px black
    background-color: rgba(0, 0, 0, 0.73)
    z-index: 996

  &__resultBlock
    padding-top: 5rem
    padding-bottom: 1rem
    background-color: white

  &__resultTitle
    margin-bottom: 1rem
    font-weight: 600
    font-size: 1.2rem
    padding-bottom: .4rem
    border-bottom: .1rem solid #ececec
    i.fa
      +text-gradient(#07d2c6, #2bffbf)

  &__resultItem
    background: white
    padding: 1rem
    display: block
    cursor: pointer
    &:hover
      text-decoration: none
      background: #f3f3f3

  &__resultItemDescription
    margin-bottom: 0
    margin-top: .5rem
    font-size: .8rem
    color: #4d4d4d

  &__resultItemTitle
    font-size: 1rem
    font-weight: 600
    margin-bottom: 0
    & a
      &:hover
        text-decoration: none

  &__resultItemCategory
    float: right
    font-size: .7rem
    background: #f4f1ff
    padding: .2rem .3rem
    border-radius: .2rem

  &__resultItemLangList
    display: block

  &__resultItemLang
    color: black
    display: inline-block
    font-size: .8rem
    margin-right: .3rem
    &:before
      content: ""
      background: #989898
      border-radius: 50%
      width: .5rem
      height: .5rem
      position: relative
      display: inline-block
    &--javascript:before
      background: #f1cd00
    &--php:before
      background: #5193da
    &--go:before
      background: #0653a6
    &--cobol:before
      background: #795548
    &--md:before
      background: #04bdaf

  &__resultItemFoundInContent
    display: inline-block
    word-wrap: break-word
    width: 100%
    font-size: .8rem
    background: #f6f6f6
    padding: .4rem
    border-radius: .3rem
    margin-bottom: 0.7rem
    box-shadow: 0 1px 3px #acacac
    color: initial
    text-decoration: none
    &:hover
      text-decoration: none
      color: initial
      box-shadow: 0 2px 4px #acacac
    & em
      background: #9dcdff
    & p
      margin-bottom: 0

  &__resultItemAnchor
    font-size: .8rem
    &:hover
      text-decoration: none

  &__emptyResult
    text-align: center
    .fa
      font-size: 5rem
      margin-bottom: 1rem

  &__emptyResultTitle
    font-size: 1.5rem
    font-weight: 600
    margin-bottom: 1.5rem

  &__emptyResultSuggestions
    list-style: none
    margin: 0
    padding: 0

  &__emptyResultSuggestion
    margin-bottom: .6rem
    display: inline-block