.c-search
  position: relative
  height: 100%
  border-left: 1px solid #dedede
  padding-left: 0

  &__wrapper,
  & .as-simpleSearch
    position: relative
    height: inherit
    width: 100%

  &__searchIcon
    z-index: 9
    top: 50%
    transform: translateY(-50%)
    position: absolute
    left: 1.2rem
    +text-gradient(#07d2c6, #2bffbf)

  &__searchInput
    width: 100%
    height: inherit
    border: none
    border-radius: 0
    padding-left: 3rem
    &:focus
      outline: none!important
      box-shadow: 0 0 0 transparent
      border-left-color: #dedede

  &__clearSearch
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    color: #09d2c6
    font-size: 1rem

  &__result
    padding-top: 5rem
    position: fixed
    overflow-y: scroll
    width: 100%
    left: 0
    right: 0
    top: 0
    bottom: 0
    box-shadow: 0 -2px 9px black
    background-color: rgba(0, 0, 0, 0.73)
    z-index: 996

  &__resultBlock
    padding: 1rem
    border-radius: .4rem

  &__resultTitle
    margin-bottom: 1rem
    font-weight: 600
    font-size: 1.2rem
    padding-bottom: .4rem
    border-bottom: .1rem solid #ececec
    i.fa
      +text-gradient(#07d2c6, #2bffbf)

  &__resultItem
    background: white
    border-radius: .3rem
    padding: 1rem
    margin-bottom: 1rem
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.16)

  &__resultItemDescription
    font-size: .9rem

  &__resultItemTitle
    font-size: 1rem
    font-weight: 600
    border-bottom: 1px solid #efefef
    padding-bottom: .4rem
    & a
      &:hover
        text-decoration: none

  &__resultItemLangList
    float: right

  &__resultItemLang
    color: white
    display: inline-block
    font-size: .8rem
    padding: .2rem .4rem
    border-radius: .3rem
    &--js
      background: #f1cd00
    &--php
      background: #5193da
    &--md
      background: #04bdaf

  &__resultItemFoundInContent
    display: inline-block
    word-wrap: break-word
    width: 100%
    font-size: .8rem
    background: #f6f6f6
    padding: .4rem
    border-radius: .3rem
    margin-bottom: 0.7rem
    box-shadow: 0 1px 3px #acacac
    color: initial
    text-decoration: none
    &:hover
      text-decoration: none
      color: initial
      box-shadow: 0 2px 4px #acacac
    & em
      background: #9dcdff
    & p
      margin-bottom: 0

  &__resultItemAnchor
    font-size: .8rem
    &:hover
      text-decoration: none