.c-sidebar
  position: fixed
  top: 51px
  bottom: 0
  left: 0
  z-index: 1000
  padding: 20px 0
  overflow-x: hidden
  overflow-y: auto
  border-right: 1px solid #eee
  background-color: $color-sidebar!important

  &__navLink
    -webkit-border-radius: 0!important
    -moz-border-radius: 0!important
    border-radius: 0!important
    color: darkgrey

    &:hover
      background-color: #363636
      color: #ddd