.c-toc
  position: fixed
  right: 0
  top: 5rem
  bottom: 0
  z-index: 9
  padding: 20px 0
  overflow-x: hidden
  overflow-y: auto
  border-right: none
  background-color: $color-background
  box-shadow: none

  &__nav
    margin-bottom: 1rem

  &__navItem
    &--sub-1
      padding-left: 1rem
      font-size: .9rem

  &__navLink
    font-weight: 600
    color: #1a1a27

    &--title
      letter-spacing: 2px

    &:hover
      text-decoration: underline