<footer class="c-footer col-sm-9 ml-sm-auto col-md-10 pt-3">
    <nav class="navbar">
                    <span class="c-footer__logoWrapper navbar-text text-center d-block">
                        <img src="http://apisearch.io/public/images/favicons/favicon-32x32.png"
                             class="c-footer__logo c-footer__logo--top d-block align-top"
                             alt="Apisearch logo">
                        <img src="http://apisearch.io/public/images/logo-.png"
                             height="16"
                             class="c-footer__logo c-footer__logo--bottom d-block align-top"
                             alt="Logo Apisearch">
                    </span>
        <ul class="c-footer__linksWrapper navbar-nav">
            <li class="c-footer__linkItem nav-item">
                <a href="https://github.io/apisearch-io/" target="_blank" class="c-footer__link c-footer__link--icon nav-link">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
            <li class="c-footer__linkItem nav-item">
                <a href="https://twitter.com/apisearch_io" target="_blank" class="c-footer__link c-footer__link--icon nav-link">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="c-footer__linkItem nav-item">
                <a href="#linkedin" target="_blank" class="c-footer__link c-footer__link--icon nav-link">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <ul class="c-footer__linksWrapper navbar-nav">
            <li class="c-footer__linkItem nav-item">
                <a href="http://apisearch.io" class="c-footer__link nav-link">Home</a>
            </li>
            <li class="c-footer__linkItem nav-item">
                <a href="http://apisearch-io.github.com/docs/" class="c-footer__link nav-link">Docs</a>
            </li>
            <li class="c-footer__linkItem nav-item">
                <a href="#examples" class="c-footer__link nav-link">Examples</a>
            </li>
            <li class="c-footer__linkItem nav-item">
                <a href="mailto:hello@puntmig.com" class="c-footer__link nav-link">Contact</a>
            </li>
            <li class="c-footer__linkItem nav-item">
                <a href="#terms-and-conditions" class="c-footer__link nav-link">Terms & Conditions</a>
            </li>
        </ul>
    </nav>
</footer>