<header>
    <nav class="c-navbar navbar navbar-expand-md fixed-top">
        <div class="c-navbar__main row">
            <!-- Brand -->
            <div class="c-navbar__brandWrapper col-2 col-sm-4 col-md-3 col-lg-2">
                <a class="c-navbar__brand navbar-brand" href="/docs">
                    <img src="https://raw.githubusercontent.com/apisearch-io/apisearch.io/master/assets/media/apisearch-long-logo.png"
                         class="d-none d-sm-inline-block"
                         height="15"
                         alt="Logo Apisearch">
                </a>
            </div>
            <!-- /Brand -->

            <!-- Search -->
            <div class="c-search col-8 col-sm-8 col-md-9 col-lg-10 ml-md-auto">
                <i class="c-search__searchIcon fa fa-search"
                   aria-hidden="true"></i>

                <!-- Apisearch target -->
                <div class="c-search__wrapper" id="searchInput"></div>
            </div>
            <!-- /Search -->

            <!-- Menu burger -->
            <div class="col-2 d-sm-none">
                <button class="c-navbar__burger navbar-toggler">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         id="burgerSidebarMenu"
                         viewBox="0 0 30 30"
                         width="30"
                         height="30"
                         focusable="false"
                    >
                        <title>Menu</title>
                        <path stroke="#54edc0"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-miterlimit="10"
                              d="M4 7h22M4 15h22M4 23h22"
                        ></path>
                    </svg>
                </button>
            </div>
            <!-- /Menu burger -->
        </div>
    </nav>

    <!-- submenu -->
    <div class="c-navbar__bottom">
        <div class="row">
            <div class="d-none d-sm-block col-sm-6">
                <!-- submenu -->
                <nav class="c-breadcrumb" aria-label="breadcrumb" role="navigation">
                    <ol class="c-breadcrumb__list breadcrumb">
                        <li class="c-breadcrumb__item breadcrumb-item">
                            <a href="/docs">Apisearch docs</a>
                        </li>
                        {{#category}}
                            <li class="c-breadcrumb__item breadcrumb-item">
                                <a href="#">{{category}}</a>
                            </li>
                        {{/category}}
                        <li class="c-breadcrumb__item--active breadcrumb-item active" aria-current="page">
                            {{title}}
                        </li>
                    </ol>
                </nav>
                <!-- /submenu -->
            </div>
            <div class="col-12 col-sm-6">
                <!-- language selector -->
                <nav class="c-languageSelector">
                    <ol class="c-languageSelector__list">
                        {{#languages}}
                            <li class="c-languageSelector__item">
                                <span data-lang="{{.}}"
                                      class="c-languageSelector__link">
                                    {{.}}
                                </span>
                            </li>
                        {{/languages}}
                    </ol>
                </nav>
                <!-- /language selector -->
            </div>
        </div>
    </div>
    <!-- /submenu -->
</header>