<header>
    <nav class="c-navbar navbar navbar-expand-md fixed-top">
        <div class="c-navbar__main row">
            <!-- Brand -->
            <div class="c-navbar__brandWrapper col-2 col-sm-4 col-md-3 col-lg-2">
                <a class="c-navbar__brand navbar-brand" href="/docs">
                    <img src="http://apisearch.io/public/images/favicons/favicon-32x32.png"
                         class="d-inline-block align-top"
                         alt="Apisearch logo">
                    <img src="http://apisearch.io/public/images/logo-.png"
                         class="d-none d-sm-inline-block"
                         height="15"
                         alt="Logo Apisearch">
                </a>
            </div>
            <!-- /Brand -->

            <!-- Search -->
            <div class="c-search col-8 col-sm-8 col-md-9 col-lg-10 ml-md-auto">
                <i class="c-search__searchIcon fa fa-search"
                   aria-hidden="true"></i>

                <!-- Apisearch target -->
                <div class="c-search__wrapper" id="searchInput"></div>
            </div>
            <!-- /Search -->

            <!-- Menu burger -->
            <div class="col-2 d-sm-none">
                <button class="c-navbar__burger navbar-toggler">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         id="burgerSidebarMenu"
                         viewBox="0 0 30 30"
                         width="30"
                         height="30"
                         focusable="false"
                    >
                        <title>Menu</title>
                        <path stroke="#54edc0"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-miterlimit="10"
                              d="M4 7h22M4 15h22M4 23h22"
                        ></path>
                    </svg>
                </button>
            </div>
            <!-- /Menu burger -->
        </div>
    </nav>

    <!-- breadcrumb -->
    <nav class="c-breadcrumb" aria-label="breadcrumb" role="navigation">
        <ol class="c-breadcrumb__list breadcrumb">
            <li class="c-breadcrumb__item breadcrumb-item"><a href="#">Apisearch</a></li>
            <li class="c-breadcrumb__item breadcrumb-item"><a href="#">Client</a></li>
            <li class="c-breadcrumb__item--active breadcrumb-item active" aria-current="page">PHP</li>
        </ol>
    </nav>
    <!-- /breadcrumb -->
</header>