<div id="sidebarMenu"
     class="c-sidebar sidebar col-sm-4 col-md-3 col-lg-2 d-none d-sm-block"
>
    <ul class="c-sidebar__nav nav nav-pills flex-column">
        {{#menu}}
            <li class="c-sidebar__navItem nav-item">
                <a class="c-sidebar__navLink c-sidebar__navLink--title nav-link"
                   href="{{category_url}}"
                >
                    <i class="fa fa-{{category_icon}}" aria-hidden="true"></i>
                    {{category_name}}
                </a>
            </li>

            {{#has_children}}
                <ul class="c-sidebar__nav c-sidebar__nav--sub-1 nav nav-pills flex-column">
                    {{#children}}
                        <li class="c-sidebar__navItem--sub-1 nav-item">
                            <a class="c-sidebar__navLink c-sidebar__navLink--subtitle nav-link"
                               href="{{url}}"
                            >
                                {{title}}
                            </a>
                        </li>
                    {{/children}}
                </ul>
            {{/has_children}}
        {{/menu}}
    </ul>
</div>