<!DOCTYPE html>
<html>
<head>
    {{> head}}
</head>
<body>
<!-- Header -->
{{> header}}
<!-- /Header -->

<!-- Search result
<div class="c-navbar__searchResult">
    <div class="container">
        <div class="row mb-4">
            <div class="col-sm-6">
                <div class="c-navbar__searchResultBlock">
                    <h1 class="c-navbar__searchResultTitle">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                        Topics
                    </h1>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="c-navbar__searchResultBlock">
                    <h1 class="c-navbar__searchResultTitle">
                        <i class="fa fa-align-left" aria-hidden="true"></i>
                        Content
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="c-navbar__searchResultBlock">
                    <h1 class="c-navbar__searchResultTitle">
                        <i class="fa fa-code" aria-hidden="true"></i>
                        Code examples
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
 /Search result -->

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        {{> sidebar}}
        <!-- Sidebar -->

        <!-- Main -->
        <main class="col-sm-8 col-md-9 col-lg-10 ml-sm-auto pt-3" role="main">
            <section class="c-content">
                <!-- Content -->
                {{{content}}}
                <!-- /Content -->

                <hr>
                <a class="c-content__editOnGithub"
                   target="_blank"
                   href="https://github.com/apisearch-io/docs/tree/master/src/content/{{source}}">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    Edit this page!
                </a>
            </section>
        </main>
        <!-- /Main -->

        <!-- Toc here -->
        <!-- End toc -->

        <!-- Footer -->
        {{> content}}
        <!-- /Footer -->
    </div>
</div>
<!-- /Main -->

<!-- Go up -->
<i class="c-goUp fa fa-thumbs-o-up" aria-hidden="true"></i>
<!-- /Go up -->

<!-- Scripts -->
<script src="{{assets}}/js/app.js"></script>
</body>
</html>