<!DOCTYPE html>
<html>
<head>
    {{> head}}
</head>
<body>
    <!-- Header -->
    {{> header}}
    <!-- /Header -->

    <!-- Search result -->
    {{> search_result}}
    <!-- /Search result -->

    <!-- Main -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            {{> sidebar}}
            <!-- Sidebar -->

            <!-- Main -->
            <main class="col-sm-8 col-md-9 col-lg-8 ml-sm-auto mr-lg-auto pt-3" role="main">
                <section class="c-content">
                    <!-- Content -->
                    {{{content}}}
                    <!-- /Content -->

                    <hr>
                    <a class="c-content__editOnGithub"
                       target="_blank"
                       href="https://github.com/apisearch-io/docs/tree/source/src/content/{{source}}">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        Edit this page!
                    </a>
                </section>
            </main>
            <!-- /Main -->

            <!-- Toc here -->
            <div class="c-toc col-lg-2 d-none d-lg-block">
                <ul class="c-toc__nav nav nav-pills flex-column">
                    {{#tableOfContent}}
                    <li class="c-toc__navItem c-toc__navItem--{{lvl}} nav-item">
                        <a class="c-toc__navLink c-toc__navLink--title nav-link"
                           href="#{{slug}}"
                        >
                            {{content}}
                        </a>
                    </li>
                    {{/tableOfContent}}

                    <li class="c-toc__navItem c-toc__navItem--needHelp nav-item">
                        Need help?
                    </li>
                    <li class="c-toc__navItem c-toc__navItem--2 nav-item">
                        <a class="c-toc__navLink c-toc__navLink--needHelp c-toc__navLink--title nav-link"
                           href="https://gitter.im/apisearch_io"
                        >
                            <img class="c-toc__navLinkImage" src="/assets/media/gitter-logo.png" />
                            Talk with us
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End toc -->

            <!-- Footer -->
            {{> footer}}
            <!-- /Footer -->
        </div>
    </div>
    <!-- /Main -->

    <!-- Go up -->
    <a id="goUpButton"
       class="c-goUp d-none fa fa-angle-up"
       href="#"
       aria-hidden="true"
    ></a>
    <!-- /Go up -->

    <!-- Scripts -->
    <script src="{{assets}}/js/app.js"></script>
</body>
</html>