<!DOCTYPE html>
<html>
<head>
    {{> head}}
</head>
<body>
    <!-- Header -->
    {{> header}}
    <!-- /Header -->

    <!-- Search result -->
    {{> search_result}}
    <!-- /Search result -->

    <!-- Main -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            {{> sidebar}}
            <!-- Sidebar -->

            <!-- Main -->
            <main class="col-sm-8 col-md-9 col-lg-10 ml-sm-auto pt-3" role="main">
                <section class="c-content">
                    <!-- Content -->
                    {{{content}}}
                    <!-- /Content -->

                    <hr>
                    <a class="c-content__editOnGithub"
                       target="_blank"
                       href="https://github.com/apisearch-io/docs/tree/master/src/content/{{source}}">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        Edit this page!
                    </a>
                </section>
            </main>
            <!-- /Main -->

            <!-- Footer -->
            {{> footer}}
            <!-- /Footer -->
        </div>
    </div>
    <!-- /Main -->

    <!-- Go up -->
    <a id="goUpButton"
       class="c-goUp d-none fa fa-angle-up"
       href="#"
       aria-hidden="true"
    ></a>
    <!-- /Go up -->

    <!-- Scripts -->
    <script src="{{assets}}/js/app.js"></script>
</body>
</html>