<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
    <meta name="author" content="Apisearch team">

    <!-- Custom -->
    <link rel="stylesheet" href="{{assets}}/css/docs.css">
    <script src="{{assets}}/js/app.js"></script>
</head>
<body>
    <!-- Header -->
    <header>
        HEADER
    </header>

    <!-- Content -->
    <div class="container-fluid">
        <section>
            {{{content}}}
        </section>
    </div>

    <!-- Footer -->
    <footer>
        FOOTER
    </footer>
</body>
</html>